@model Canducci.ZipCode.Zip

@{
}
<form asp-action="ZipCode">
   <input type="text" name="value" id="value" value="@(ViewBag.ZipValue ?? "")" />
   <button type="submit">Enviar</button>
</form>
@if (string.IsNullOrEmpty(ViewBag.Message))
{
   @if (Model is not null)
   {
      <div>@Model.ZipCode</div>
      <div>@Model.City / @Model.Uf</div>
      <div>@Model.Address</div>
      <div>@Model.District</div>
      <div>@Model.Complement</div>
      <div>@Model.Ibge</div>
      <div>@Model.Gia</div>
      <div>@Model.Siafi</div>
      <div>@Model.Ddd</div>
   }
}
else
{
   @ViewBag.Message
}