@model Canducci.ZipCode.ZipResult

@{
}
<form asp-action="ZipCode">
   <input type="text" name="value" id="value" value="@(ViewBag.ZipValue ?? "")" />
   <button type="submit">Enviar</button>
</form>
@if (string.IsNullOrEmpty(ViewBag.Message))
{
   @if (Model.IsValid)
   {
      <div>@Model.Zip.ZipCode</div>
      <div>@Model.Zip.City / @Model.Uf</div>
      <div>@Model.Zip.Address</div>
      <div>@Model.Zip.District</div>
      <div>@Model.Zip.Complement</div>
      <div>@Model.Zip.Ibge</div>
      <div>@Model.Zip.Gia</div>
      <div>@Model.Zip.Siafi</div>
      <div>@Model.Zip.Ddd</div>
   }
}
else
{
   @ViewBag.Message
}